#background {
	background-image: url(assets/background.png);
	height: 800px;
	width: 1200px;
}

#fighter {
	background-image: url(assets/fighter.png);
	height: 50px;
	width: 50px;
	position: absolute;
	top: 700px;
	left: 550px;


}

.aliens {
	background-image: url(assets/aliens.png);
	height: 50px;
	width: 50px;
	position: absolute;
	top: 100px;
	left: 550px;

}